body {
    background-color: lightsteelblue;
}

a  {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



h1, p {
    text-align: center;
}

#quiz {
    display: none;
}


#startQuizBtn {
    font-size: 20px;
    margin-left: 47%;
    margin-bottom: 50px;
    padding: 5px;
    
    
}

#homePage,
#clear {
    border-radius: 10px;
    position: relative;
    padding: 10px;
    top: 30%;
    left: 42%;
    text-align: center;
    
}

#startQuizBtn,
#homePage,
#clear { 
    border-radius: 10px;
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #fa8bff 0%, #2bd2ff 52%, #2bff88 90%);
    transition: all .5s ease-out;
    background-size: 10px 100px;
    background-position: 0 -10px; 
    font-size: 20px;
    color: whitesmoke
    
}

#sstartQuizBtn:hover,
#homePage:hover,
#clear:hover {
    background-position: 1px -50px;
}
